/* CSS for the word count loader */

.loader {
    width: 130px;
    height: 170px;
    position: relative;
    margin: 0 auto;
}
.loader::before, .loader::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 30px;
    left: 15px;
    z-index: 1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 20px solid #1b2a33;
            transform: scale(0);
    transition: all 0.2s ease;
}
.loader::after {
    border-right: 15px solid transparent;
    border-bottom: 20px solid #162229;
}
.loader .getting-there {
    width: 120%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -7%;
    font-family: "Lato";
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
}
.loader .word {
    width: 100%;
    height: 140px;
    display: block;
    color: white;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
    overflow: hidden;
}
.loader .word::before, .loader .word::after {
    font-family: "Lato";
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.loader .word:nth-child(1)::before {
    content: "and";
    animation: a 1.1s linear infinite;
}
.loader .word:nth-child(1)::after {
    content: "and";
    animation: b 1.3s linear infinite;
}
.loader .word:nth-child(2)::before {
    content: "the";
    animation: c 0.9s linear infinite;
}
.loader .word:nth-child(2)::after {
    content: "the";
    animation: d 0.7s linear infinite;
}
.loader .word:nth-child(3)::before {
    content: "of";
    animation: e 1.2s linear infinite;
}
.loader .word:nth-child(3)::after {
    content: "of";
    animation: f 0.5s linear infinite;
}
.loader::before, .loader::after {
    transform: scale(1);
}

@keyframes a {
    0% {
        transform: translate(30px, 0) rotate(30deg);
        opacity: 0;
    }
    100% {
        transform: translate(30px, 150px) rotate(-50deg);
        opacity: 1;
    }
}
@keyframes b {
    0% {
        transform: translate(50px, 0) rotate(-40deg);
        opacity: 0;
    }
    100% {
        transform: translate(40px, 150px) rotate(80deg);
        opacity: 1;
    }
}
@keyframes c {
    0% {
        transform: translate(70px, 0) rotate(10deg);
        opacity: 0;
    }
    100% {
        transform: translate(60px, 150px) rotate(70deg);
        opacity: 1;
    }
}
@keyframes d {
    0% {
        transform: translate(30px, 0) rotate(-50deg);
        opacity: 0;
    }
    100% {
        transform: translate(45px, 150px) rotate(30deg);
        opacity: 1;
    }
}
@keyframes e {
    0% {
        transform: translate(50px, 0) rotate(10deg);
        opacity: 0;
    }
    100% {
        transform: translate(10px, 150px) rotate(70deg);
        opacity: 1;
    }
}
@keyframes f {
    0% {
        transform: translate(40px, 0) rotate(-20deg);
        opacity: 0;
    }
    100% {
        transform: translate(50px, 150px) rotate(30deg);
        opacity: 1;
    }
}
  